
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lott Results Viewer</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <link rel="stylesheet" href="/static/styles/styles.css">
</head>
<body>
    <h1>Select a Lott Type</h1>
    <select id="lottSelect">
        <!-- Options will be populated using JavaScript -->
    </select>
    <button onclick="fetchResults()">Fetch Results</button>

    <h2>Unique Days</h2>
    <div id="uniqueDays"></div>

    <h2>Graphs</h2>
    <canvas id="Primary Numbers" width="400" height="200"></canvas>
    <canvas id="Secondary Numbers" width="400" height="200"></canvas>
    <canvas id="Primary+Secondary Numbers" width="400" height="200"></canvas>
    <script src="/static/scripts/chartWrapper.js"></script>
    <script src="/static/scripts/scripts.js"></script>
</body>
</html>
