
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

canvas {
    margin: 20px 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

#uniqueDays {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 20px;
}
